{% extends 'pages/base.html' %}
{% block title %}Subscribe{% endblock %}

{% block content %}
{% if not success %}
    <section class="container mt-5 w-75">
        <h4 class="text-center">Subscribe</h4>
        <form method="POST" class="authentication">
            {% csrf_token %}
            {{ subscribe_form.as_p }}
            <div class="text-center">
                <button class="btn btn-danger p-2">SUBSCRIBE</button>
            </div>
        </form>
    </section>
{% else %}

<section class="container mt-5">
    <h5>Subscribed successfully</h5>
    <h6><i>{{ name }}</i>, welcome you would be the first to receive our stories </h6>
    <p><a href="{% url 'thoughts:list_display' %}" class="text-danger">Go To Blog</a></p>

</section>
{% endif %}
{% endblock %}
    