{% extends 'pages/base.html' %}

{% block content %}
<section class="container mt-5" >
    <h3>We all forget <small class="text-warning">; )</small> <small>enter email below</small></h3>
   
    <p>You would receive reset instructions</p>

    <form method='POST' class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <input type="submit" value="Send Email" class="btn btn-danger p-2"> -->
        <button type="submit" class="btn btn-danger p-2">Send Email</button>
    </form>
</section>
{% endblock %}